
<h1>Lista ToDo</h1>
<br>
<br>
<%= link_to 'Crear ToDo', todos_new_path, class: "btn btn-info", style: "margin-bottom: 20px" %>
<br>
  <% @todos.each do |todo| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title"><%= todo.description %></h3>
        <%= link_to "Hecho", complete_todo_path(todo), class:"btn btn-info", style: "float: right" %>
        <h6 class="card-subtitle mb-2 text-muted"><%= todo.completed %></h6>
        <%= link_to "Mostrar",todo %>
        <%= link_to "Editar", edit_todo_path(todo) %>
        <%= link_to "Borrar", todo, method: :delete, data: {confirm: 'Estás seguro?'} %>
      </div>
    </div>
  <% end %>
<br>
<br>
<br>
